<template>
  <div class="todo container">
    <Todo/>
  </div>
</template>

<script>
import Todo from "@/components/Todo.vue";

export default {
  name: "TodoPage",
  components: {
    Todo
  }
};
</script>