<template>
  <b-col cols="4">
    <h4>Add your todo here</h4>
    <b-form class="form-col" @submit="submitMethod">
      <b-form-group label="Todo description">
        <b-form-input
          type="text"
          placeholder="What're ye gonna do?"
          v-model="todoObj.description"
          required
          aria-required="true"
          minlength="10"
          maxlength="50"
        ></b-form-input>
        <p>{{ todoObj.description.length }} out of 50 characters</p>
      </b-form-group>
      <b-form-group label="Date">
        <b-form-input
          type="date"
          placeholder="Pick a day"
          v-model="todoObj.date"
          required
          aria-required="true"
        ></b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">Add</b-button>
    </b-form>
  </b-col>
</template>

<script>
export default {
  name: "FormTodo",
  props: {
    todoObj: Object
  },
  methods: {
    submitMethod(e) {
      e.preventDefault();
      this.$emit("submitForm");
    }
  }
};
</script>

<style>
.form-col {
  border-radius: 3%;
  padding: 16px 16px 16px 16px;
  -webkit-box-shadow: 5px 2px 5px 3px rgba(139, 140, 133, 0.56);
  -moz-box-shadow: 5px 2px 5px 3px rgba(139, 140, 133, 0.56);
  box-shadow: 5px 2px 5px 3px rgba(139, 140, 133, 0.56);
}
</style>
