<template>
  <b-table
    striped
    hover
    responsive
    :items="listOfTodo"
    :fields="tableField"
    :tbody-tr-class="rowClass"
  >
    <template slot="deleteTodo" slot-scope="row">
      <b-button size="sm" variant="danger" @click="deleteMethod(row.item)">Delete</b-button>
    </template>
    <template slot="editTodo" slot-scope="row">
      <b-button size="sm" variant="warning" @click="editMethod(row.item)">Edit</b-button>
    </template>
    <template slot="table-caption">*Yellow row = past 7 days</template>
  </b-table>
</template>

<script>
export default {
  name: "TableTodo",
  props: {
    listOfTodo: Array,
    tableField: Array
  },
  methods: {
    deleteMethod(item) {
      this.$emit("deleteTodo", item);
    },
    editMethod(item) {
      this.$emit("editTodo", item);
    },
    rowClass(item, type) {
      if (!item) return;
      var currentDate = new Date();
      var itemDate = new Date(item.date);
      if (currentDate.getDate() - itemDate.getDate() >= 7) {
        return "table-warning";
      }
    }
  }
};
</script>
