<template>
  <div id="app">
    <header>
      <nav>
        <div class="navbar-container">
          <ul>
            <li>
              <router-link class="link" to="/">Home</router-link>
            </li>
            <li class="separator">|</li>
            <li>
              <router-link class="link" to="/about">About</router-link>
            </li>
            <li class="separator">|</li>
            <li>
              <router-link class="link" to="/todo">Todo</router-link>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="main">
      <router-view/>
    </div>
  </div>
</template>

<style>
html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 40px;
}

.separator {
  color: white;
}

header {
  background: #276f4e;
}

#footer {
  position: relative;
  clear: both;
  height: 40px;
  margin-top: -40px;
  background-image: linear-gradient(
    to right,
    #276f4e,
    #20814c,
    #239445,
    #32a638,
    #48b720
  );
  padding: 10px 0px 10px 0px;
  text-align: center;
  color: white;
  font-size: 13px;
}

.navbar-container {
  text-align: center;
}

nav {
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: start;
  list-style: none;
  margin: 5px 0px 0px 0px;
  padding: 0;
}

nav li {
  padding: 0px 15px 0px 15px;
}

nav a.link {
  color: #7acea8;
  text-decoration: none;
  font-size: 18px;
}

nav a::after {
  content: "";
  display: block;
  height: 3px;
  background-color: white;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: white;
}

nav a.router-link-exact-active {
  color: white;
}
</style>
